* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* html {
    font-size: 62.5%;
} */
html, body {
    height: 100%;
}
@font-face {
    font-family: PopLight;
    src: url("./fonts/Poppins-Light.ttf");
}
@font-face {
    font-family: PopMedium;
    src: url("./fonts/Poppins-Medium.ttf");
}
@font-face {
    font-family: PopSemiBold;
    src: url("./fonts/Poppins-SemiBold.ttf");
}
body {
    font-family: PopLight;
    background: linear-gradient(rgba(233, 195, 158, 0.4),transparent), url("./image/top_bg.jpg") no-repeat fixed;
    background-size: cover;
}
h1{
    font-family: PopSemiBold;
    font-size: calc(1vw + 3vh + 1vmin);;
}
h2{
    font-family: PopMedium;
    font-size: calc(1vw + 1.6vh + 1.6vmin);
}
h3{
    font-family: PopMedium;
    font-size: calc(0.1vw + 1.8vh + 0.8vmin);
}
label h3,
.btn-transfer{
    font-family: PopMedium;
    font-size: calc(0.7vw + 1.8vh + 0.8vmin);
    /* text-align: center; */
}

header {
    width: 100vw;
    min-height: 5vh;
    background-color: #8F8585;
    padding: 0.1rem;
}
header h3 {
    float: left;
    align-self: center;


}
header h2 {
    font-weight: PopMedium;
    font-size: calc(1vw + 0.6vh + 1.2vmin);
    margin-right: 0.2rem;
    vertical-align: middle;
    float: right;
    /* top: 50%; */
}
.page {
    min-height: 60vh;
    width: 100%;
    display: grid;
    /* border: 2px solid #4D5153; */
    grid-template-columns: 2% 1fr 1fr 1fr 2%;

}
.accounts {
    grid-column: 2/3;
    /* border: 2px solid #4D5153; */
    /* min-height: 30%; */
    width: 100%;
    margin: auto;
    transform: translateY(-25%);
}
.account {
    background-color: #D7E9E7;
    border: 2px solid #4D5153;
    padding: 0.4rem;
    width: 100%;
}
/* .account h3{
    font-family: PopMedium;;
    font-size: 1rem;
} */
.checking {
    margin-bottom: 0.5rem;
}
.account-value {
    background-color: seashell;
    padding-left: 0.2rem;
}

.deposit-container {
    grid-column: 3/4;
    width:70%;
    margin: auto;
    padding:0.2rem;
}
.deposit-container h1 {
    font-family: PopSemiBold;
    /* font-size: 2rem; */
    text-transform: uppercase;
    border: 2px solid #4D5153;
    background-color: rgb(141, 146, 146);
    text-align: center;
    margin-bottom: 1rem;
}

.deposit-value {
    width: 60%;
    float: left;
    border: 2px solid #4D5153;
    padding: 0.4rem 0.6rem;
    margin-right: 0.3rem;
}
.btn-deposit {
    width: 30%;
    background: rgb(65, 90, 90);
    border: 2px solid #4D5153;
    color: white;
    cursor: pointer;
    font-family: PopSemiBold;
    font-size: 1rem;
    padding: 0.1rem 0.4rem;
    float: right;
    /* text-align: center; */
    }

.transfer {
    grid-column: 4/5;
    background-color: #D7E9E7;
    border: 2px solid rgb(68, 90, 100);
    height: 40vh;
    padding: 0.1rem;
    transform: translateY(-15%);
    margin: auto;
}

.transfer h2 {
    text-align: center;
    padding: 0;
}
.form {
margin: auto;
height: 25vh;
padding: 0.4rem;
width: 100%;
}

.transfer-block,
.amount-block,
.btn-transfer {
    display: flex;
    align-items: center;
    border: 2px solid rgb(58, 75, 65);
    width: 100%;
    height: 30%;
    margin: 0.2rem;
}
.transfer-block label,
.amount-block label {
    width: 50%;
    min-height: 90%;
}
label h3 {
    text-align: center;
}
select {
    width:50%;
    margin-right: 0.2rem;
    min-height: 90%;
}
.transfer-value {
    width: 50%;
    margin-right: 0.2rem;
}


.btn-transfer{
    width: 80%;
    min-height: 10%;
    /* padding: 0.1rem 0.4rem; */
    border: none;
    background: rgb(65, 90, 90);
    color: seashell;
    cursor: pointer;
    align-self: center;
    padding: 0.1rem 0.4rem 0.1rem 0.4rem;;
    margin: auto;
    padding: auto;
}
.transactions {
    min-height: 35vh;
    width: 100%;
    background-color: #D6C9C9;
}
.transactions-header{
    background:rgb(93, 99, 99);
    text-align: center;
    /* min-height: 5%; */
}
.transactions-header h2{
    font-size: 1.2rem;
}
.transactions-container{
    margin: 0.2rem;
    width: 100%;
    display:flex;
    justify-content: space-around;
}
.debit-container,.credit-container{
    margin:0.2rem,2rem;
    /* border: 1px solid rgb(58, 75, 65); */
    width: 47%;
}
.debit-title,
.credit-title {
    text-align: center;
    text-transform: uppercase; 
    /* width: 100%; */
    background-color: rgb(106, 101, 121);
    /* margin: 0.2rem; */
}
/* .debit-list, .credit-list{
    width: 100%;
} */
.transaction-fix{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(58, 75, 65);
    /* width: 80%; */
    /* height: 30%; */
    padding: 0.1rem 0.2rem;
}
.transaction-description{
    /* width: 90%; */
    float: left;
    /* text-align: center; */
    /* min-height: 90%; */
}
.transaction-description h4{
    font-weight: PopLight;
    font-size: calc(0.7vw + 0.7vh + 0.6vmin);
    text-align: center;
}
.transaction-value{
    float: right;
    /* width: 10%; */
    text-align: left;
    padding-left: 1rem;
    font-size: calc(0.7vw + 0.7vh + 0.6vmin);

}































/* .debit{
    float: left;
    width: 50vw;
    padding: 0.3rem 0.6rem;
    
}
.credit{
    float: right;
    width: 50vw;
    padding: 0.3rem 0.6rem;
} */
